<% form_method = @clinic.persisted? ? "PATCH" : "POST" %>
<% form_action = @clinic.persisted? ? clinic_url(@clinic) : clinics_url %>

<form action="<%= form_action %>" method="POST">
  <input type="hidden" name="_method" value="<%= form_method %>">
  
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label>Clinic name:
    <input type="text" name="clinic[name]" value="<%= @clinic.name %>">
  </label><br>

  <input type="submit">

</form>
